* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-transition: all .2s ease-in-out; 
	-moz-transition: all .2s ease-in-out; 
	-ms-transition: all .2s ease-in-out; 
	-o-transition: all .2s ease-in-out; 
	transition: all .2s ease-in-out;
} 
body {
	margin: 0px;
	font-family: 'Roboto';
	background: #f0f0f0;
}
a {
	color: #3a7cec;
	text-decoration: none;
}
.col-1 { width: 10%; }
.col-2 { width: 20%; }
.col-3 { width: 30%; }
.col-3-33 { width: 33.3%; }
.col-4 { width: 40%; }
.col-5 { width: 50%; }
.col-6 { width: 60%; }
.col-6-66 { width: 66.6%; }
.col-7 { width: 70%; }
.col-8 { width: 80%; }
.col-9 { width: 90%; }
.col-10 { width: 100%; }

.offset-1 { margin-left: 10%; }
.offset-2 { margin-left: 20%; }
.offset-3 { margin-left: 30%; }
.offset-3-33 { margin-left: 33.3%; }
.offset-4 { margin-left: 40%; }
.offset-5 { margin-left: 50%; }
.offset-6 { margin-left: 60%; }
.offset-6-66 { margin-left: 66.6%; }
.offset-7 { margin-left: 70%; }
.offset-8 { margin-left: 80%; }
.offset-9 { margin-left: 90%; }
.offset-10 { margin-left: 100%; }

[class^="col-"] {
	float: left;
	padding: 10px;
}
a.social {
	vertical-align: middle;
	display: inline-block;
	margin: 0px 10px;
}
a.social img {
	width: 20px;
}
#top {
	position: fixed;
	box-shadow: 0px 0px 30px rgba(0,0,0,.2);
	top: 0px;
	left: 0px;
	width: 100%;
	background: white;
	z-index: 51;
}
#top .wrapper {
	position: relative;
	overflow: hidden;
	min-width: 360px;
}
#top #menu {
	width: 36px;
	height: 36px;
	display: inline-block;
	background-image: url(../images/ic_menu_black.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	position: relative;
	top: 20px;
	margin-left: 15px;
	float: left;
	display: none;
}
#top .logo {
	width: 200px;
	height: 80px;
	float: left;
	display: inline-block;
	background-image: url(../images/logo.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: middle;
	vertical-align: middle;
	margin-left: 20px;
}
#top .nav {
	float: right;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#top .nav li {
	display: block; 
	float: left;
}
#top .nav li a {
	padding: 27px 30px;
	display: block;
	color: #888;
	text-decoration: none;
	border-bottom: 5px solid transparent;
	-webkit-transition: all .2s ease-in-out; 
	-moz-transition: all .2s ease-in-out; 
	-ms-transition: all .2s ease-in-out; 
	-o-transition: all .2s ease-in-out; 
	transition: all .2s ease-in-out;
}
#top .nav li a.red:hover {
	border-bottom: 5px solid #e33e2b;
}
#top .nav li a.blue:hover {
	border-bottom: 5px solid #3a7cec;
}
#top .nav li a.yellow:hover {
	border-bottom: 5px solid #fbcc45;
}
#top .nav li a.green:hover {
	border-bottom: 5px solid #4ab165;
}
#container {
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 49;
}
#container .banner {
	width: 100%;
	position: relative;
	float: left;
}
.banner.home {
	background-image: url(../images/banner1.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}
.banner .title {
	padding: 0px 30px;
	width: 100%;
	margin: 100px auto;
	text-align: center;
	color: #087cec;
	font-weight: 900;
	overflow: hidden;
	text-shadow: 0px 0px 15px rgba(255,255,255,1);
}
.banner .title span.big {
	font-size: 90px;
	margin-bottom: 30px;
}
.banner .title span.small {
	font-size: 20px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.banner .button {
	font-size: 20px;
	text-decoration: none;
	color: white;
	display: inline-block;
	background: #087cec;
	padding: 20px;
	margin-top: 30px;
	border-radius: 7px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.4);
	text-shadow: 0px 0px 15px rgba(255,255,255,.1);
	-webkit-transition: all .2s ease-in-out; 
	-moz-transition: all .2s ease-in-out; 
	-ms-transition: all .2s ease-in-out; 
	-o-transition: all .2s ease-in-out; 
	transition: all .2s ease-in-out;
}
.banner .button:hover {
	padding: 23px;
	font-size: 22px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
a.button {
	background: #bbb;
	color: rgba(255,255,255,.8);
	display: inline-block;
	text-decoration: none;
	padding: 13px;
	border-radius: 8px;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	-webkit-transition: all .4s ease-in-out; 
	-moz-transition: all .4s ease-in-out; 
	-ms-transition: all .4s ease-in-out; 
	-o-transition: all .4s ease-in-out; 
	transition: all .4s ease-in-out;
	cursor: pointer;
}
a.button[href], a.button[id], a.button[onclick] {
	background: #3a7cec;
	color: white;
}
a.button:hover {
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
a.button.block {
	display: block;
	text-align: center;
}
.embed {
	width: 600px;
	height: 338px;
	overflow: hidden;
	box-shadow: 0px 0px 30px rgba(0,0,0,.6);
	border-top: 5px solid #e33e2b;
	border-left: 5px solid #3a7cec;
	border-bottom: 5px solid #fbcc45;
	border-right: 5px solid #4ab165;
}
.center {
	text-align: center;	
}
.embed.center {
	margin: 0px auto;
}
.embed iframe {
	float: left;
	width: 100%;
	height: 100%;
	border: 0px;
	display: block;
}
#container .content {
	width: 100%;
	float: left;
	position: relative;
}
#container .content:last-child {
	padding-bottom: 50px;
}
#container .content .title {
	width: 100%;
}
#container .content .title .wrapper {
	min-width: 360px;
	max-width: 980px;
	margin: 0px auto;
	padding: 30px 20px;
	font-size: 20px;
	position: relative;
	font-weight: 300;
}
#container .content>.wrapper {
	min-width: 360px;
	max-width: 980px;
	min-height: 200px;
	margin: 0px auto;
	line-height: 170%;
	font-size: 14px;
	padding: 30px 20px;
	overflow: hidden;
	padding-bottom: 50px;
	position: relative;
}
#googleMap, #googleMap1 {
	width: 100%;
	height: 400px;
}
#container .content.red .title {
	background: #e33e2b;
	color: #eee;
}
#container .content.blue .title {
	background: #3a7cec;
	color: white;
}
#container .content.yellow .title {
	background: #fbcc45;
	color: white;
}
#container .content.green .title {
	background: #4ab165;
	color: white;
}
.wire {
	width: 500px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	position: absolute;
	opacity: .2;
	background-image: url(../images/wire.png);
}
.wire.upper-left {
	left: 0px;
	transform: rotate(180deg);
}
.wire.upper-right {
	right: 0px;
	transform: rotate(180deg);
}
.wire.lower-left {
	bottom: 0px;
	left: 0px;
}
.wire.lower-right {
	bottom: 0px;
	right: 0px;
}
.content.red .wire {
	background-color: #e33e2b;
}
.content.blue .wire {
	background-color: #3a7cec;
}
.content.yellow .wire {
	background-color: #fbcc45;
}
.content.green .wire {
	background-color: #4ab165;
}
.content.black .wire {
	background-color: black;
}
.footer {
	background: white;
	width: 100%;
	float: left;
	position: relative;
	z-index: 50;
	box-shadow: 0px 0px 50px rgba(0,0,0,.2);
}
.footer .wrapper {
	min-width: 360px;
	max-width: 980px;
	margin: 0px auto;
	padding: 20px 20px;
	padding-top: 30px;
	overflow: hidden;
	color: #888;
	font-size: 13px;
}
.footer a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}
.right {
	text-align: right;
}

#blackTrans {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,.6);
	z-index: 99;
	cursor: pointer;
	display: none;
}
#slider {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: -300px;
	background: white;
	z-index: 101;
	overflow: hidden;	
	-webkit-transition: all .5s ease-in-out; 
	-moz-transition: all .5s ease-in-out; 
	-ms-transition: all .5s ease-in-out; 
	-o-transition: all .5s ease-in-out; 
	transition: all .5s ease-in-out;
}
#slider .action {
	float: left;
	width: 100%;
	display: block;
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
#slider .action span {
	vertical-align: middle;
	position: relative;
	top: 3px;
	font-weight: bold;
}
#slider #btnCloseSlider {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-image: url(../images/ic_menu_black.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	margin-right: 15px;
	float: left;
	-webkit-transition: all .5s ease-in-out; 
	-moz-transition: all .5s ease-in-out; 
	-ms-transition: all .5s ease-in-out; 
	-o-transition: all .5s ease-in-out; 
	transition: all .5s ease-in-out;
}
#slider .copy {
	padding: 20px;
	float: left;
	width: 100%;
	color: #888;
	font-size: 13px;
	line-height: 200%;
	border-top: 1px solid rgba(0,0,0,.1);
}
#slider .copy a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}
#slider #btnCloseSlider:hover {
	background-image: url(../images/ic_arrow-right_black.png);
	transform: rotate(-180deg);
}
#slider .nav::-webkit-scrollbar {
	width: 0px;
} 
#slider .nav {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	overflow-y: scroll;
}
#slider .nav li { 
	padding: 0px;
	margin: 0px;
}
#slider .nav li:not(:last-child) {
	border-bottom: 1px solid rgba(0,0,0,.05);
}
#slider .nav li a {
	display: block;
	width: 100%;
	color: #666;
	border-left: 0px solid transparent;
	text-decoration: none;
	padding: 18px;
	-webkit-transition: all .2s ease-in-out; 
	-moz-transition: all .2s ease-in-out; 
	-ms-transition: all .2s ease-in-out; 
	-o-transition: all .2s ease-in-out; 
	transition: all .2s ease-in-out;
}
#slider .nav li a.red:hover {
	border-left: 15px solid #e33e2b;
}
#slider .nav li a.blue:hover {
	border-left: 15px solid #3a7cec;
}
#slider .nav li a.yellow:hover {
	border-left: 15px solid #fbcc45;
}
#slider .nav li a.green:hover {
	border-left: 15px solid #4ab165;
}
#slider .nav li a.fullcolor {
	color: white;
}
#slider .nav li a.fullcolor.red {
	background: #e33e2b;
}
#slider .nav li a.fullcolor.blue {
	background: #3a7cec;
}
#slider .nav li a.fullcolor.yellow {
	background: #fbcc45;
}
#slider .nav li a.fullcolor.green {
	background: #4ab165;
}
.calendar {
	display: inline-block;
	width: 48px;
	height: 48px;
	background: url(../images/calendar.png);
}
.marker {
	display: inline-block;
	width: 48px;
	height: 48px;
	background-color: #e33e2b;
	border-radius: 100%;
	background-image: url(../images/marker.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.faqs-list {
	background: white;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	margin-bottom: 25px;
	position: relative;
}
.faqs-list .q {
	float: left;
	width: 100%;
	cursor: pointer;
	padding: 10px;
	background: rgba(0,0,0,.02);
}
.faqs-list .q.color {
	color: white;
}
.faqs-list .q.color.red {
	background: #e33e2b;
}
.faqs-list .q.color.blue {
	background: #3a7cec;
}
.faqs-list .q.color.yellow {
	background: #fbcc45;
}
.faqs-list .q.color.green {
	background: #4ab165;
}
.faqs-list .q .expand {
	width: 24px;
	cursor: pointer;
	margin-right: 10px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../images/ic_right_black.png);
	background-position: center center;
	background-size: contain;
	background-repeat:  no-repeat;
}
.faqs-list .q .expand.open {
	transform: rotate(90deg);
}
.faqs-list .a {
	float: left;
	width: 100%;
	padding: 10px 15px;
	position: relative; 
	word-wrap: break-word;
	display: none;
}
.sponsors {
	margin: 20px;
	vertical-align: middle;
}
@media screen and (max-width: 780px) {
	[class^="col-"] {
		width: 100% !important;
		margin-left: 0%;
	}
	[class^="offset-"] {
		margin: 0% !important;
	}
	.faqs-list {
		width: 100%;
		margin-left: 0%;
	}
	#container .banner .title {
		margin-top: 40px;
	}
	#container .banner .title span.big {
		font-size: 40px;
	}
	#container .banner .title span.small {
		font-size: 15px;
	}
	#container .banner .button {
		margin-top: 20px;
		font-size: 15px;
		padding: 15px;
	}
}
@media screen and (max-width: 920px) {
	#top #menu {
		display: block;
	}
	#top .nav {
		display: none;
	}
}
@media only screen and (max-device-width: 480px) {
	.embed {
		width: 100%;
		height: auto;
	}
	[class^="col-"] {
		width: 100%;
		margin-left: 0%;
	}
	#top #menu {
		display: block;
	}
	#top .nav {
		display: none;
	}
	#container .banner .title {
		font-size: 25px;
		margin-top: 50px;
	}
	#container .banner .button {
		margin-top: 20px;
		font-size: 15px;
		padding: 15px;
	}
	#googleMap, #googleMap1 {
		height: 250px !important;
	}
	#slider .nav li a.red {
		border-left: 5px solid #e33e2b;
	}
	#slider .nav li a.blue {
		border-left: 5px solid #3a7cec;
	}
	#slider .nav li a.yellow {
		border-left: 5px solid #fbcc45;
	}
	#slider .nav li a.green {
		border-left: 5px solid #4ab165;
	}
	#slider #btnCloseSlider {
		background-image: url(../images/ic_arrow-right_black.png);
		transform: rotate(-180deg);
	}
	.footer .wrapper {
		min-width: 100%;
		max-width: 100%;
	}
	.footer .wrapper div {
		text-align: center;
	}
	.wire {
		opacity: .1;
	}
} 